<div class="container text-center">
    <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
        <% if !user_signed_in? %>

            <div class="card" style="width: 18rem;">
                <%= image_tag("rails.png") %>
                <div class="card-body">
                    <h5 class="card-title">TTPS Ruby</h5>
                    <p class="card-text">Entrega final para la materia TTPS opcion ruby realizada con rails.Ingrese al sitio para poder administrar sus cuadernos y notas</p>
                    <%= link_to "Sign In", new_user_session_path, class:'btn btn-primary' %>
                </div>
            </div>

            
        <% else %>
            <u><h1>Your books</h1></u>
            <div class="card" >
                <%= image_tag("books.png") %>
                <hr>
                <div class="card-body">
                    <u><h5 class="card-title">Books</h5></u>
                    <p class="card-text">Manage your books</p>
                    <%= link_to "Books", user_books_path(current_user), class:'btn btn-primary' %>
                </div>
            </div>
        <% end %>
        </div>
        <div class="col-md-4"> </div>
    </div>
</div>